page-pendientes {

  .checkbox, .checkbox-ios, .checkbox-md{
    float: right;
  }

  .toolbar, .toolbar-ios, .toolbar-md {
    text-align: center;
  }

  .toolbar-background, .toolbar-background-ios, .toolbar-background-md {
    background: transparent;
  }

  .card, .card-ios, .card-md {
    border-radius: 1em;
    margin-bottom: 7%;
  }

  .card-content, .card-content-ios, .card-content-md{
    padding-top: 0%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .card-title, .card-title-ios, .card-title-md {
    font-weight: bold;
  }

  button {
    margin-top: 3%;
  }
}
